body {
    background: #333;
    padding: 200px 0; /* Ajuste para centrar el formulario en la página */
    display: flex;
    justify-content: center;
}

.containerForm {
    border: solid 2px #111;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background: #fff;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 20px; /* Agregar padding para un mejor espaciado interno */
}
#registroIniciarSesion{
    font-size: 2em;
    margin: 20px 0;
}
input {
    width: 500px;
    height: 35px;
}
#nombre{
    margin: 10px;
}
#email{
    margin: 10px;
}
#contraseña{
    margin: 10px;
}
#contraseñaConfirmar{
    margin: 10px;
}
#enviar{
    margin: 10px;
}
input[tyoe="checkbox"]{
    margin: 0;
}
#checkbox {
    height: 20px;
    width: 20px; /* Tamaño del checkbox ajustado */
    margin-right: 8px; /* Espacio a la derecha del checkbox */
}

.containerChebox {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alineación a la izquierda */
    margin: 10px 170px 0 0; /* Espacio entre los elementos */
}

.pCheckbox {
    margin: 0; /* Asegurarse de que no haya margen adicional en el párrafo */
}

.containerCheckbox a {
    color: blue; /* Estilo para el enlace de términos y condiciones */
    text-decoration: underline;
}
#enviar{
    margin: 30px;
    
}